.post-time,
.f-post-time,
.share {
    font-family: 'Inconsolata', monospace;
    text-transform: lowercase;
}

.post-content,
.post-excerpt {
    font-family: 'EB Garamond', serif;
    font-size: 1.25em;
}

