<header>
    <h3>Hello!</h3>
    <p>My name is <span id="name">Thassio Victor</span></p>
    <p>I'm a <span class="negative">developer</span>.</p>
</header>

<article>
    <p>I work on backend systems using Node.js</p>
</article>

<footer>
    <p>I'm <span class="negative">@thassiov</span> everywhere:
        <a href="http://github.com/thassiov">github</a> |
        <a href="https://stackexchange.com/users/551146/thassiov">stack exchange</a> |
        <a href="http://medium.com/@thassiov">medium</a>
    </p>
</footer>

