<header class="row">
    <div class="col-xs-6 col-md-4 col-md-offset-4 text-center">
        <img id="t-brand" src="assets/img/t_green_square.png" class="img-responsive" alt="Thassio Victor">
        <p class="lead">Hello!</p>
        <p>My name is <span id="name">Thassio Victor</span><span id="this-guy">*</span></p>
        <p>I'm a <kbd>developer</kbd> living in Ananindeua, Brazil.</p>
    </div>
</header>

<br></br>

<article class="row">
    <div class="col-sx-6 col-md-4 col-md-offset-4 text-center">
        <p>I work on backend systems using Node.js and write about it from time to time</p>
    </div>
</article>

<br></br>

<footer class="row">
    <div class="container">
        <p>I'm <kbd><kbd>@thassiov</kbd></kbd> everywhere:</p>
        <p>
            <a href="https://www.linkedin.com/in/thassiov/">linkedin</a> |
            <a href="http://github.com/thassiov">github</a> |
            <a href="https://stackexchange.com/users/551146/thassiov">stack exchange</a> |
            <a href="http://medium.com/@thassiov">medium</a>
        </p>
        <address>
            <a href="mailto:tvmcarvalho@gmail.com?subject=Hello, Thassio!">mailto:tvmcarvalho@gmail.com</a>
        </address>
    </div>
</footer>

