body {
    font-family: 'Fira Mono', monospace;
}

kbd, a {
    color: #2ecc71;
}

header {
    margin-top: 3em;
}

#t-brand {
    width: 6em;
    height: auto;
    margin: auto;
    margin-bottom: 5px;
}

#thassiov {
    width: 20em;
    height: auto;
    position: absolute;
    top: -3em;
}

#name {
    font-weight: bold;
    font-size: 1.4em;
}

#this-guy {
    color: #2ecc71;
    font-size: 1.4em;
}

ul#menu {
    list-style: none;
}

article {
    margin-top: 30vh;
}

footer {
    text-align: center;
    font-size: 0.9em;
    margin-top: 4em;
}

footer a {
    text-decoration: none;
}

#clear {
    margin-top: 5px;
}
